<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">

      <div class="row date">
        <h1> <%=day%></h1> 
      </div>

      <div >
        
        <ul>
          <% for (var i = 0; i < all.length; i++) { %>

            <form action="/delete" method="post">

              <!-- <input type="text" <%=all[i].id%>  class="striked">  alternate wayy -->

            <button class="row task btn" name="aid" value="<%=all[i].id%>" type="submit"
              onclick="toggleTextDecoration(this)"><%= all[i].name %></button>
          </form>
          <% } %>
        </ul>

      </div>
      




        <div> 
          <div class="padding"></div>
          <form action="/" method="post" class="bottom">
            <input type="text" autofocus class="input" autocomplete="off" name="task" id="task" placeholder="Use me..." />
            <button type="submit" class="btn btn-primary">++</button>
          </form>
        </div>
     


    </div>
    <script>
      function toggleTextDecoration(button) {
      
          button.classList.toggle('striked');

}

  </script>
  </body>
</html>

<!-- <%= all[i] %> -->